*.lst
*.html
*.static
*.elf
*.hex
.zig-cache/
zig-cache/
zig-out/
build/
build-*/
docgen_tmp/
examples/arduino_atmega328p/build.zig
examples/arduino_atmega328p/build.zig.zon
.nimcache/
GPATH
GRTAGS
GTAGS
